$-sans: (
	ui-sans-serif,
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	"Noto Sans",
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji",
);

$-mono: (
	ui-monospace,
	SFMono-Regular,
	Menlo,
	Monaco,
	Consolas,
	"Liberation Mono",
	"Courier New",
	monospace,
);

body {
	--sans: #{$-sans};
	--mono: #{$-mono};

	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: $-sans;
	@at-root {
		code {
			font-family: $-mono;
		}
	}
}
